#homeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons.xs-36 { font-size: 36px; }
.material-icons.xs-25 { font-size: 25px; }
.material-icons.xs-18 { font-size: 18px; }

#rowNavbar{
    width: 100%;
}

#heroListContainer{
    margin: 90px auto;
}

.img_hero{
    height: 35vh;
    width: 15vw;
    margin: 10px auto;
}

.containerHero{
    width: 60%;
    margin: 10px 0 10px 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchItem{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#textHelper{
    font-size: 1.3rem;
    font-weight: bold;
}

#detailContainer{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#detail{
    margin: 80px 0;
    background-color: rgb(216, 216, 216);
}

#imgHeroDetail{
    width: 100%;
    height: 100%;
}

.bold{
    font-weight: bold;
}

.large_font{
    font-size: 1.15rem;
}

#searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcher{
    width: 80%;
}

.form_alert{
    color: red;
    padding: 8px;
}

#searchIcon{
    margin-left: 5px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

.delete_button{
    margin: 10px 30px 0 10px;
}

.detail_button{
    margin-top: 10px;
    width: 9vw;
}

#powerstatsTotal{
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
}

#titlePowerstats{
    font-size: 1.5rem;
    text-decoration: underline;
}

#subtitle{
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
}

#emptyTeam{
    width: 60vw;
    padding: 15px;
    text-align: justify;
    border: solid 1px black;
    border-radius: 1rem;
    margin: 60px auto;
    font-size: 1.3rem;
    background-color: rgb(14, 236, 236);
}

.good, .neutral{
    background-color: rgb(151, 255, 151);
}

.bad{
    background-color: rgb(255, 146, 146);
}

#footer{
    height: 8vh;
    text-align: center;
}

#footer *{
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

#notFound{
    font-size: 1.3rem;
    width: 80vw;
    margin: 20vh auto;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .img_hero{
        height: 30vh;
        width: 19vw;
    }

    .detail_button{
        width: 12vw;
    }

    .delete_button{
        margin: 10px 45px 0 10px;
    }

    #powerstatsTotal *{
        font-size: 1rem;
    }

    #titlePowerstats{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 768px) {
    .img_hero{
        height: 30vh;
        width: 25vw;
    }

    .detail_button{
        width: 16vw;
    }

    .powerstats_item{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 576px) {
    .img_hero{
        height: 35vh;
        width: 45vw;
    }

    .detail_button{
        width: 23vw;
    }
    
    #powerstatsTotal{
        height: 72vh;
    }

    #powerstatsTotal *{
        font-size: 0.85rem;
    }

    #titlePowerstats{
        font-size: 1.1rem;
    }

    #emptyTeam{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 380px) {
    .img_hero{
        height: 35vh;
        width: 60vw;
    }

    .card_search{
        margin: 0 20px;
    }

    .detail_button{
        width: 40vw;
    }

    #powerstatsTotal{
        height: 80vh;
    }

    .home_hero_card{
        margin: 0 10px;
    }

    #emptyTeam{
        font-size: 1rem;
        width: 70vw;
        text-align: left;
    }

    h1{
        font-size: 1.7rem;
        text-align: center;
    }
}